/* 首页 */ 

.index #myTabContent a{
    margin-top: -40px;
}

/* 注册 */

.register .submit{
    width: 80px;
    margin-left: 200px;
}

form>div{
    padding-top: 0;
}
.main-header .navbar {
    background-color: #3c8dbc;
}
/* hotel */ 

.hotel{
    display: flex;
}
.hotel .container{
    display: flex;
    flex-direction: column;
    margin: 0!important;
    padding: 0!important;
}
.hotel .aside{
    width: 260px;
}
.hotel main{
    background: rgba(203, 203, 210, 0.15);
    padding:20px;
    min-height: calc(100vh - 51px);
}
.hotel aside {
    max-height: 100vh;
    min-height: 100%;
    overflow: auto;
    width: 260px;
    background-size: cover;
    background-image: url('../img/sidebar.jpg');
    background-position: center center;
    overflow: auto;
    position: fixed;
}
.hotel .fix{
    z-index: 4;
    position: fixed;
}
.hotel aside ul{
    width: 100%;
    margin: 20px 0;
}
.hotel aside a{
    color: #FFFFFF!important;
    margin: 5px 15px;
    opacity: .86;
    transition: all 150ms ease-in;
}
.hotel aside .nav li:hover > a ,.hotel aside .nav li.active > a ,aside li>a:focus, aside li>a:hover {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
}
.hotel aside .nav li {
    width: 100%;
}
.hotel aside::before {
    content: "";
    display:block;
    opacity: .33;
    background: #000000;
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

}
.hotel .nav>li>a:focus {
    background-color: transparent;
}
.hotel .navbar a {
    color: #9A9A9A;
}

.hotel .log{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hotel nav{
    background-color: rgba(255, 255, 255, 0.96)!important;
    margin-bottom: 0!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel .panel-default>.panel-heading {
    background-color: white;
    cursor: pointer;
}

.hotel main panel-heading a{
    text-decoration: none;
}
.panel-group {
     margin-bottom: 0!important; 
}
.hotel .panel.panel-default{
    margin: 20px 20px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
}
.hotel .panel label{
    color: #9A9A9A;
    font-weight: 400;
}
.hotel .panel-collapse>.panel-body {
    border-top-color: none;
}
.hotel .row{
    border-top: solid 1px #eee;
}

.hotel .col-sm-3{
    padding-top: 30px;
}
.navbar a{
    color: white;
}

.hotel img{
    width: 100%;
}
.time{
    margin-bottom: 20px;
}
.booking .name{
    margin-right: 20px;
    margin-top: 5px;
}

.account p{
    font-size: 16px;
    margin-bottom: 25px;
}
.account strong{
    margin-right: 10px;
}

.account button{
    font-size: 16px;
}

.login-pane{
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 350px;
    background-color: rgba(238, 238, 238, 0.90);
}

.login-pane #myTabContent{
    padding: 20px;
}
body.index{
    background-image: url("../img/house.png");
    background-size: cover;
}

body.index h1 {
    text-align: center;
    padding-top: 10px;
    color: #337ab7;
}
.index .nav-tabs {
    border-bottom: 1px solid #337ab7;
}

.right{
    float: right;
}
.index .form-group{
    padding-top: 0;
}

.pay div{
    margin: 10px 0 10px 0;
}
.pay input{
    margin: 0 0 0 20px;
}

.error-tips{
    color: #c00;
}
.modal-money{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
}
.money-dialog{
    position: absolute;
    width: 40%;
    height: 200px;
    top: 40%;
    left: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    transition: transform .5s;
}
.modal-money.fadein{
    transform: translate(0,20px);
}
.modal-money button{
    margin:0 10px;
}

.hotel .form-group:after {
    content: "";
    display: block;
    clear: both;
}
.hotel .form-group{
    display: flex;
    justify-content: left;
    align-items: center;
}

.hotel .info{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.hotel .form-group>div{
    margin: 0 10px;
    flex: 0 0 75%;
}

.hotel .form-group>label{
    flex: 0 0 6%;
}

.form-group button{
    margin: 10px;
}

/*通用*/

.alarm{
    color: red;
}
form label{
    text-align: right;
}