@mixin checkinStyle{
	.list-panel{
		flex-direction: column;
		align-items:flex-start;

		&>div{
			// display: flex;
			margin: 10px;
			button{
				font-size: 12px;
			}
		}
		span{
			margin: 0 20px 0 0;
			font-size: 20px;
			font-weight: 600;
		}
	}
	.add-panel{
		align-items: flex-start;
    	flex-direction: column;
    	&>div{
			margin: 5px;
		}
		table{
			width: 300px;
		}
	}
	input,select{
		padding: 5px;
	    border: 1px solid rgba(0, 0, 0, 0.1);
	    border-radius: 5px;
	    width: 150px;
	    height: 30px;
	}
	.fa{
		font-size: 1.5em;
    	margin: 0 10px;
    	color: rgba(0, 0, 0, 0.3);
	}
	.fa:hover{
		color:#337ab7;
		text-decoration: none;
	}

}